extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['Цветочные горшки и кашпо'])

        h1.title-h1.about-title(data-aos="fade-up") Цветочные горшки и кашпо

        .catalog-filter-mobile
          .catalog-filter-spoiler.catalog-filter-imgs.spoiler

            .catalog-filter-mobile__btn.spoiler__button(data-aos="fade-up")
              .catalog-filter-mobile__ttl материал
              .catalog-filter-mobile__ico

            .spoiler__dropdown

              .catalog-filter-mobile__spoiler

                .catalog-filter-imgs__item.is-active(data-aos="fade-up")
                  img(src="assets/images/icons/filter-ico/filter-ico-1.png", alt="")
                  |Пластиковые
                .catalog-filter-imgs__item(data-aos="fade-up")
                  img(src="assets/images/icons/filter-ico/filter-ico-2.png", alt="")
                  |Керамические
                .catalog-filter-imgs__item(data-aos="fade-up")
                  img(src="assets/images/icons/filter-ico/filter-ico-3.png", alt="")
                  |Глиняные
                .catalog-filter-imgs__item(data-aos="fade-up")
                  img(src="assets/images/icons/filter-ico/filter-ico-4.png", alt="")
                  |Мраморные
                .catalog-filter-imgs__item(data-aos="fade-up")
                  img(src="assets/images/icons/filter-ico/filter-ico-5.png", alt="")
                  |Файберглас
                .catalog-filter-imgs__item(data-aos="fade-up")
                  img(src="assets/images/icons/filter-ico/filter-ico-6.png", alt="")
                  |Из бетона
                .catalog-filter-imgs__item(data-aos="fade-up")
                  img(src="assets/images/icons/filter-ico/filter-ico-7.png", alt="")
                  |Из стекла

          .catalog-filter-spoiler.catalog-filter-tabs.spoiler

            .catalog-filter-mobile__btn.spoiler__button(data-aos="fade-up")
              .catalog-filter-mobile__ttl Применение
              .catalog-filter-mobile__ico

            .spoiler__dropdown

              .catalog-filter-mobile__spoiler(data-aos="fade-up")

                .catalog-filter-tabs__item.is-active Напольные
                .catalog-filter-tabs__item С автополивом
                .catalog-filter-tabs__item Для сада
                .catalog-filter-tabs__item Настенное
                .catalog-filter-tabs__item Лечуза
                .catalog-filter-tabs__item Подставка под кашпо
                .catalog-filter-tabs__item Подставка под кашпо
                .catalog-filter-tabs__item Высокие
                .catalog-filter-tabs__item Пластиковые
                .catalog-filter-tabs__item Подвесные

          .catalog-filter-spoiler.catalog-filter-spoilers(data-aos="fade-up")
            .catalog-filter-mobile__btn
              .catalog-filter-mobile__ttl все фильтры
              .catalog-filter-mobile__ico

        .catalog-filter
          .catalog-filter-imgs(data-aos="fade-up")

            .catalog-filter-imgs__item.is-active
              img(src="assets/images/icons/filter-ico/filter-ico-1.png", alt="")
              |Пластиковые
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-2.png", alt="")
              |Керамические
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-3.png", alt="")
              |Глиняные
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-4.png", alt="")
              |Мраморные
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-5.png", alt="")
              |Файберглас
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-6.png", alt="")
              |Из бетона
            .catalog-filter-imgs__item
              img(src="assets/images/icons/filter-ico/filter-ico-7.png", alt="")
              |Из стекла

          .catalog-filter-tabs(data-aos="fade-up")

            .catalog-filter-tabs__item.is-active Напольные
            .catalog-filter-tabs__item С автополивом
            .catalog-filter-tabs__item Для сада
            .catalog-filter-tabs__item Настенное
            .catalog-filter-tabs__item Лечуза
            .catalog-filter-tabs__item Подставка под кашпо
            .catalog-filter-tabs__item Подставка под кашпо
            .catalog-filter-tabs__item Высокие
            .catalog-filter-tabs__item Пластиковые
            .catalog-filter-tabs__item Подвесные

          .catalog-filter-spoilers

            .catalog-filter-spoilers__item(data-aos="fade-up")
            
              |Все фильтры
              .catalog-filter-spoilers__plus

            .catalog-filter-spoilers__item
              
              .catalog-filter-spoilers__button(data-aos="fade-up")
                |Наличие, скидки
                img(src="assets/images/icons/spoiler-arrow.svg", alt="")

              .catalog-filter-spoilers__dropdown(data-aos="fade-up")
                -
                  var items = [
                    'Крем',
                    'Мятный',
                    'Нежно-голубой',
                    'Мальва',
                    'Пион',
                    'Лавандовый',
                    'Бирюзовый',
                  ]
                each i in items
                  .catalog-filter-spoilers__dropdown-item
                    |#{i}
                    input(type="checkbox")

            .catalog-filter-spoilers__item
              
              .catalog-filter-spoilers__button(data-aos="fade-up")
                |Диапазон цены
                img(src="assets/images/icons/spoiler-arrow.svg", alt="")

              .catalog-filter-spoilers__dropdown(data-aos="fade-up")
                -
                  var items = [
                    'Крем',
                    'Мятный',
                    'Нежно-голубой',
                    'Мальва',
                    'Пион',
                    'Лавандовый',
                    'Бирюзовый',
                  ]
                each i in items
                  .catalog-filter-spoilers__dropdown-item
                    |#{i}
                    input(type="checkbox")

            .catalog-filter-spoilers__item

              .catalog-filter-spoilers__button(data-aos="fade-up")
                |Цвет
                img(src="assets/images/icons/spoiler-arrow.svg", alt="")

              .catalog-filter-spoilers__dropdown(data-aos="fade-up")
                -
                  var items = [
                    'Крем',
                    'Мятный',
                    'Нежно-голубой',
                    'Мальва',
                    'Пион',
                    'Лавандовый',
                    'Бирюзовый',
                  ]
                each i in items
                  .catalog-filter-spoilers__dropdown-item
                    |#{i}
                    input(type="checkbox")

            .catalog-filter-spoilers__item

              .catalog-filter-spoilers__button(data-aos="fade-up")
                |Форма
                img(src="assets/images/icons/spoiler-arrow.svg", alt="")
              
              .catalog-filter-spoilers__dropdown(data-aos="fade-up")
                -
                  var items = [
                    'Крем',
                    'Мятный',
                    'Нежно-голубой',
                    'Мальва',
                    'Пион',
                    'Лавандовый',
                    'Бирюзовый',
                  ]
                each i in items
                  .catalog-filter-spoilers__dropdown-item
                    |#{i}
                    input(type="checkbox")

            .catalog-filter-spoilers__item

              .catalog-filter-spoilers__button(data-aos="fade-up")
                |Применение
                img(src="assets/images/icons/spoiler-arrow.svg", alt="")

              .catalog-filter-spoilers__dropdown(data-aos="fade-up")
                -
                  var items = [
                    'Крем',
                    'Мятный',
                    'Нежно-голубой',
                    'Мальва',
                    'Пион',
                    'Лавандовый',
                    'Бирюзовый',
                  ]
                each i in items
                  .catalog-filter-spoilers__dropdown-item
                    |#{i}
                    input(type="checkbox")

            .catalog-filter-spoilers__item
            
              .catalog-filter-spoilers__button(data-aos="fade-up")
                |Особенности
                img(src="assets/images/icons/spoiler-arrow.svg", alt="")

              .catalog-filter-spoilers__dropdown(data-aos="fade-up")
                -
                  var items = [
                    'Крем',
                    'Мятный',
                    'Нежно-голубой',
                    'Мальва',
                    'Пион',
                    'Лавандовый',
                    'Бирюзовый',
                  ]
                each i in items
                  .catalog-filter-spoilers__dropdown-item
                    |#{i}
                    label.designers-form__checkbox
                      input(type="checkbox"  id="checkbox" required)
                      .checkbox

        .category-table

          .category-row(data-aos="fade-up")
            - for (i=0; i<5; i++)
              .catalog-card
                .catalog-card__labels
                  .catalog-card__labels-item Скидки
                  .catalog-card__labels-item Новинки
                .catalog-card__top
                  .catalog-card__layer
                    .catalog-card__pagination
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                    .catalog-card__buttons
                      button.catalog-card__buttons-item
                        +cardSettingsBtn
                      button.catalog-card__buttons-item
                        +cardFavoriteBtn
                  img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                a.catalog-card__bottom(href="")
                  .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                  .catalog-card__color Серебро
                  .catalog-card__price 5 292 ₽

          .category-row(data-aos="fade-up")
            - for (i=0; i<5; i++)
              .catalog-card
                .catalog-card__labels
                  .catalog-card__labels-item Скидки
                  .catalog-card__labels-item Новинки
                .catalog-card__top
                  .catalog-card__layer
                    .catalog-card__pagination
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                    .catalog-card__buttons
                      button.catalog-card__buttons-item
                        +cardSettingsBtn
                      button.catalog-card__buttons-item
                        +cardFavoriteBtn
                  img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                a.catalog-card__bottom(href="")
                  .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                  .catalog-card__color Серебро
                  .catalog-card__price 5 292 ₽

          .category-row(data-aos="fade-up")
            - for (i=0; i<5; i++)
              .catalog-card
                .catalog-card__labels
                  .catalog-card__labels-item Скидки
                  .catalog-card__labels-item Новинки
                .catalog-card__top
                  .catalog-card__layer
                    .catalog-card__pagination
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                      .catalog-card__pagination-item
                    .catalog-card__buttons
                      button.catalog-card__buttons-item
                        +cardSettingsBtn
                      button.catalog-card__buttons-item
                        +cardFavoriteBtn
                  img.catalog-card__main-img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                a.catalog-card__bottom(href="")
                  .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                  .catalog-card__color Серебро
                  .catalog-card__price 5 292 ₽
        
        .pagination
          .pagination-list(data-aos="fade-up")
            button.pagination__item.is-active 1
            button.pagination__item 2
            button.pagination__item 3
            button.pagination__item 4
            button.pagination__dots ...
            button.pagination__item 12

          .pagination-controls(data-aos="fade-up")
            +arrow('white', '#CAE8D9', 'left', '15', '13', '46')
            +arrow('white', '#65BA7F', 'right', '15', '13', '46').arrow-active

        .catalog-block
          .designers-contacts__card
            .designers-contacts__img(data-aos="fade-up")
              img(src="assets/images/designer-contacts-1.png", alt="")
            .designers-contacts__desc(data-aos="fade-up")
              .designers-contacts__name Стасенко Виктор
              .designers-contacts__position Специалист по работе с розничными покупателями
              .designers-contacts__contacts
                span.designers-contacts__tel 8 812 209-18-84
                span ga@green-land.ru

              .btn
                |обратная связь

          .catalog-block__desc
            .catalog-block__desc-ttl.title-h3(data-aos="fade-up") Горшки и кашпо
            .catalog-block__desc-txt(data-aos="fade-up")
              p Горшок для цветов - это не только емкость для размещения растения, но и предмет дизайна, украшение, а иногда и мебель или даже светильник. Правильно подобранные цветочные кашпо моментально преобразят помещение или ландшафт, в зависимости от поставленной задачи добавят ярких красок или, наоборот, сольются с окружающей средой, предоставив растениям возможность выйти на первый план.
              p В нашем каталоге представлен широкий ассортимент цветочных горшков и кашпо - различные материалы, размеры и формы, функция автополива. Вы можете выбрать подходящее кашпо самостоятельно, или наши менеджеры подберут варианты для вас.

        include ../partials/you-watched.pug


    include ../partials/_footer.pug