extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['работа с нами', 'Условия работы с дизайнерами'])

        h1.title-h1.about-title Условия работы с дизайнерами

        .about-tabs
          a.about-tabs__item.about-tabs__item--active(href="") Для дизайнеров
          a.about-tabs__item(href="") Для объектов
          a.about-tabs__item(href="") Для дистрибьютеров

        //- .about-tabs-mob
        //-   a.about-tabs__item.about-tabs__item--active(href="") Для дизайнеров
        //-   a.about-tabs__item(href="") Для объектов
        //-   a.about-tabs__item(href="") Для дистрибьютеров

        .about-mission
          
          .mission__slide
            .mission__main
              .mission__slider-underlay
              .mission__heading.designers-highlight.title-h3
                //- .
                //-   Дизайнерам интерьера #[br] архитекторным бюро #[br] #[span.accent  #[span.designers-highlight-1 декораторам,] #[br] #[span.designers-highlight-2 фитодизайнерам] #[br] #[span.designers-highlight-3 и озеленителям]]

                |Дизайнерам интерьера
                br
                |архитекторным бюро 
                br
                span.designers-highlight-1 декораторам,
                br
                span.designers-highlight-2 фитодизайнерам
                br
                span.designers-highlight-3 и озеленителям

            img.about-mission__img(src="assets/images/conditions-1.jpg" alt="")

        .designers-brands
          .designers-brands__desc
            |Green Land является официальным и эксклюзивным поставщиком дизайнерских кашпо от ведущих европейских брендов:
          .designers-brands__list
            ul
              -
                var items = [
                  'Pottery Pots',
                  'Teraplast',
                  'Fleur Ami',
                  'ItalGarden',
                  'Poterie De La Madeleine (Anduze)',
                  'Laboratorio San Rocco',
                ]
              each item, index in items
                li
                  .designers-brands__list-img
                    img(src=`assets/images/designers-brands-${index + 1}.png`, alt="")
                  |#{item}

        .designers-offers
          h2.designers-offers__title.title-h2 Если вы дизайнер, Green Land готов предложить
          .designers-offers__table
            ul
              -
                var items = [
                  'Агентское вознаграждение',
                  'Помощь в подборе кашпо и растений, выезд фитодизайнера из команды Green Land на объект для консультации',
                  'Организация доставки с нашего склада до вашего объекта',
                  'Профессиональная консультация и ответы на все вопросы о товаре',
                  'Самый широкий ассортимент товаров на складе в РФ: кашпо, вазоны, МАФ, мебель, искусственные растения',
                  'Товары из востребованных материалов: экологичный пластик, композитный материал (файберглас), 3D пластик, глина, композитный мрамор, дерево',
                  'Шоу-румы в Москве, Санкт-Петербурге, Краснодаре',
                  '3D-модели для вашего проекта',
                ]
              each item, index in items
                li
                  div
                    img(src=`assets/images/designer-offers-${index + 1}.png`, alt="")
                  |#{item}

        .designers-benefits
          h2.designers-benefits__title.title-h2 Выгода от работы с нами
          .designers-benefits__table
            ul
              -
                var items = [
                  {
                    title: 'Сохраняем задумки дизайнера',
                    desc: 'Ваш проект дополняется качественным материалом, и заказчик не станет выбирать аналог в масмаркете.',
                  },
                  {
                    title: 'На рынке цветочных кашпо с 2002 года',
                    desc: 'Знаем, чего хочет ваш заказчик. Обладаем большим опытом в решении самых интересных задач.',
                  },
                  {
                    title: 'Повышаем вероятность сделки',
                    desc: 'По нашему опыту подскажем — проект с озеленением будет одобрен вероятнее на 30%, чем без зелени.',
                  },
                  {
                    title: 'Выполним заказ под ключ',
                    desc: 'Берем на себя всю подготовку по комплектации и дадим консультации по использованию продукции в интерьере.',
                  },
                  {
                    title: 'Предлагаем широкий ассортимент',
                    desc: 'Подберем уникальный продукт под любой стиль. Знаем, как важно, чтобы все элементы были в гармонии.',
                  },
                  {
                    title: 'Предоставляем скидку дизайнерам',
                    desc: 'Готовы работать с вами на особых условиях, разработали прогрессивную модель скидок и систему бонусов.',
                  },
                  {
                    title: 'Закрепляем проект за вами',
                    desc: 'Сотрудничая с нами вы не только получаете свой кэшбэк, но и уверенность в своей защите прав на проект.',
                  },
                  {
                    title: 'Располагаем своим шоурумом',
                    desc: 'При возниконовении вопросов по материалу, его всегда можно увидеть вживую и пощупать в нашем петербургском шоуруме.',
                  },
                ]

              each item, index in items
                li
                  .designers-benefits__img
                    img(src=`assets/images/designer-benefits-${index + 1}.png`, alt="")
                  .designers-benefits__txt
                    .designers-benefits__ttl #{item.title}
                    .designers-benefits__desc #{item.desc}

        .designers-form.about-mission
          h2.designers-form__title.title-h2 Оставить заявку на консультацию
          .mission__slide
            .mission__main
              .mission__slider-underlay
              .designers-form__container
                include ../partials/form-designer
            .about-mission__img.designers-form__imgs
              img(src="assets/images/designer-form-1.jpg", alt="")
              img(src="assets/images/designer-form-2.jpg", alt="")

        .designers-products

          h3.designers-products__title.title-h3.only-desktop
            |Наша продукция 
            span не выбивается 
            br
            |из общего дизайна интерьера

          h3.designers-products__title.title-h3.only-mobile
            |Наша продукция 
            span не выбивается 
            |из общего дизайна интерьера

          .designers-products-filter
            ul
              li.filter-tab.active-tab
                |Классический
              -
                var items = [
                  //- 'Классический',
                  'Барокко',
                  'Арт-деко',
                ]
              each item in items
                li.filter-tab
                  |#{item}

            .designers-products__controls(data-catalog-slider-controls="")
              .arrows.cover__slider-arrows
                +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-catalog-slider-prev="")
                +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-catalog-slider-next="")


          .designers-products__catalog
            .swiper-container(data-catalog-slider="")
              .swiper-wrapper
            
                - for (i=0; i<5; i++)
                  .catalog-card.swiper-slide
                    .catalog-card__labels
                      .catalog-card__labels-item Скидки
                      .catalog-card__labels-item Новинки
                    .catalog-card__top
                      .catalog-card__layer
                        .catalog-card__pagination
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                        .catalog-card__buttons
                          button.catalog-card__buttons-item
                            +cardSettingsBtn
                          button.catalog-card__buttons-item
                            +cardFavoriteBtn
                      img.catalog-card__img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                    a.catalog-card__bottom(href="")
                      .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                      .catalog-card__color Серебро
                      .catalog-card__price 5 292 ₽
                      .catalog-card__buttons
                        button.catalog-card__buttons-item
                          +cardSettingsBtn
                        button.catalog-card__buttons-item
                          +cardFavoriteBtn

        .designers-showrooms

          h3.designers-showrooms__title.title-h3.only-desktop
            |Шоу-румы в Москве и Санкт-Петербурге — 
            br
            |возможность 
            span посмотреть товар перед заказом

          h3.designers-showrooms__title.title-h3.only-mobile
            |Шоу-румы в Москве и Санкт-Петербурге — возможность 
            span посмотреть товар перед заказом

          .designers-products-filter
            ul
              //- -
              //-   var items = [
              //-     'Шоу-рум',
              //-     'Упаковка продукции',
              //-   ]
              //- each item in items
              //-   li.designers-products-filter__item
              //-     |#{item}

              li.filter-tab.active-tab Шоу-рум
              li.filter-tab Упаковка продукции
              
          .projects__slider.swiper-container(data-projects-slider="")
            .swiper-wrapper
              - for (i=0; i<3; i++)
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src=`assets/images/projects__item-img-${i + 1}.jpg`, alt="", data-fade-item-slider-item="")
              
            .projects__slider-controls
              .projects-controls-container
                +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
              .projects-controls-container
                +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")

        .designers-contacts
          .designers-contacts__top
            h2.designers-contacts__title.title-h2 Начать работу с нами
            .designers-contacts__subtitle Звоните или пишите нам. Мы расскажем и о других 
              br
              |преимуществах работы с Green Land.
          .designers-contacts__row
            .designers-contacts__card
              .designers-contacts__img
                img(src="assets/images/designer-contacts-1.png", alt="")
              .designers-contacts__desc
                .designers-contacts__name Шабала Виктория
                .designers-contacts__position Менеджер по работе с дизайнерами
                .designers-contacts__contacts
                  span.designers-contacts__tel 8 911 924-50-84
                  span sv@green-land.ru

                .contacts-btn
                  |обратная связь
                
            .designers-contacts__card
              .designers-contacts__img
                img(src="assets/images/designer-contacts-2.png", alt="")
              .designers-contacts__desc
                .designers-contacts__name Филиппова Марина
                .designers-contacts__position Менеджер по работе с дизайнерами
                .designers-contacts__contacts
                  span.designers-contacts__tel 8 911 924-50-84
                  span sv@green-land.ru

                .contacts-btn
                  |обратная связь

            .designers-contacts__links
              .designers-contacts__links-txt
                |Написать в соц. сетях
              .footer__socials
                a.footer__socials-link(href="")
                  +fbIcon
                a.footer__socials-link(href="")
                  +vkIcon
                a.footer__socials-link(href="")
                  +instIcon
                a.footer__socials-link(href="")
                  +houzzIcon

    include ../partials/_footer.pug