extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    

    .section.page-wrapper
      .container
        +breadcrumbs(['работа с нами', 'Для дистрибьютеров и оптовых покупателей'])

        h1.title-h1.about-title(data-aos="fade-up") Для дистрибьютеров и оптовых покупателей

        .about-tabs(data-aos="fade-up")
          a.about-tabs__item(href="") Условия работы с дизайнерами
          a.about-tabs__item(href="") Условия работы для объектов
          a.about-tabs__item.about-tabs__item--active(href="") Условия работы для дистрибьютеров и оптовых покупателей

        .distributor-desc(data-aos="fade-up")
          h3.distributor-desc__ttl.title-h3
            |Оптовым покупателям, 
            br
            |региональным дистрибьюторам, 
            span интернет-магазинам
          .distributor-desc__txt
            |Green Land всегда открыт для партнерства, мы знаем что предложить вашему бизнесу для успешного развития. Основываясь на собственном опыте, мы подобрали товары наиболее востребованные у современного покупателя, а предлагаемые коммерческие условия, помогут вам заработать.

        .designers-offers.distributor-offers
          .designers-offers__table(data-aos="fade-up")
            ul
              -
                var items = [
                  'Оптовый прайс от 1 штуки',
                  'Помощь в организации логистики с нашего склада до вашего адреса',
                  'Большой ассортимент товаров на складе, товары разных ценовых категорий всегда в наличии и под заказ',
                  'Персональный менеджер, поддержка и консультация',
                ]
              each item, index in items
                li
                  .distributor-offers-ico
                    img(src=`assets/images/distributor-desc-ico-${index + 1}.svg`, alt="")
                  |#{item}

        .designers-benefits.distributor-benefits
          .designers-benefits__table(data-aos="fade-up")
            ul
              -
                var items = [
                  'Лучшие условия сотрудничества для торговых организаций',
                  'Для нас важны партнёры от небольшого магазина до крупного дистрибьютора',
                  'Каждый найдет свое уникальное предложение и только проверенный ассортимент',
                ]

              li.distributor-benefits-ttl
                span.distributor-highlight Почему
                |именно мы

              each item, index in items
                li
                  .designers-benefits__img
                    img(src=`assets/images/distributor-benefits-ico-${index + 1}.svg`, alt="")
                  .designers-benefits__txt
                    .designers-benefits__ttl #{item}

        .distributor-price
          .distributor-price__ttl(data-aos="fade-up")
            h3.title-h3 Мы помогаем 
              span.accent развивать 
              |ваш бизнес, 
              span.accent обучая 
              |персонал и 
              span.accent оказывая 
              |маркетинговую 
              span.accent поддержку
            +footerDownload('скачать прайс-лист', 'pdf, 2 мб')

          .distributor-price__txt(data-aos="fade-up")
            p Предоставляем обучающие материалы для вас и ваших сотрудников.
            p После регистрации вы получаете доступ к:
            ul
              li 
                div Cтатьи
              li
                div Видео-курс по обучению
            +footerDownload('скачать прайс-лист', 'pdf, 2 мб')

        .designers-products
          h2.title-h2.distributor-products-ttl(data-aos="fade-up")
            |Складская программа 
            br
            |для торговых организаций
          .designers-products-filter(data-aos="fade-up")
            ul
              li.filter-tab.active-tab
                |De Roma
              -
                var items = [
                  //- 'De Roma',
                  'Teraplast',
                  'Pottery Pots',
                ]
              each item in items
                li.filter-tab
                  |#{item}
            .designers-products__controls(data-catalog-slider-controls="")
              .arrows.cover__slider-arrows
                +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-catalog-slider-prev="")
                +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-catalog-slider-next="")
          .designers-products__catalog(data-aos="fade-up")
            .swiper-container(data-catalog-slider="")
              .swiper-wrapper
            
                - for (i=0; i<5; i++)
                  .catalog-card.swiper-slide
                    .catalog-card__labels
                      .catalog-card__labels-item Скидки
                      .catalog-card__labels-item Новинки
                    .catalog-card__top
                      .catalog-card__layer
                        .catalog-card__pagination
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                          .catalog-card__pagination-item
                        .catalog-card__buttons
                          button.catalog-card__buttons-item
                            +cardSettingsBtn
                          button.catalog-card__buttons-item
                            +cardFavoriteBtn
                      img.catalog-card__img(src=`assets/images/catalog-${i + 1}.png`, alt="")
                    a.catalog-card__bottom(href="")
                      .catalog-card__ttl Высокое напольное кашпо MUSCHEL
                      .catalog-card__color Серебро
                      .catalog-card__price 5 292 ₽

        .distributor-brands
          .distributor-brands__top(data-aos="fade-up")
            h2.title-h2
              |С нами уже работают
            .designers-products__controls(data-brands-logos-controls="")
              .arrows.cover__slider-arrows
                +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-brands-logos-prev="")
                +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-brands-logos-next="")

          .designers-brands__list.swiper-container(data-brands-logos-slider="" data-aos="fade-up")
            ul.swiper-wrapper
              -
                var items = [
                  'ашан',
                  'максидом',
                  'obi',
                  'leroy merlin',
                ]
              each item, index in items
                li.swiper-slide
                  .designers-brands__list-img
                    img(src=`assets/images/distributor-brand-${index + 1}.png`, alt="")
                  |#{item}

        .designers-showrooms
          h3.designers-showrooms__title.title-h3(data-aos="fade-up")
            |Товар 
            span всегда в наличии 
            |на самом большом 
            br
            |складе кашпо и горшков в РФ
          .designers-products-filter(data-aos="fade-up")
            ul
              //- -
              //-   var items = [
              //-     'Шоу-рум',
              //-     'Упаковка продукции',
              //-   ]
              //- each item in items
              //-   li.designers-products-filter__item
              //-     |#{item}

              li.filter-tab.active-tab Шоу-рум
              li.filter-tab Упаковка продукции

          .projects__slider.swiper-container(data-projects-slider="" data-aos="fade-up")
            .swiper-wrapper
              - for (i=0; i<3; i++)
                .swiper-slide.projects__slide
                  .projects__item
                    .projects__item-slider(data-fade-item-slider="")
                      .projects__item-slider-wrapper(data-fade-item-slider-wrapper="")
                        img.projects__item-img.is-active(src=`assets/images/projects__item-img-${i + 1}.jpg`, alt="", data-fade-item-slider-item="")
              
            .projects__slider-controls
              .projects-controls-container
                +arrow('#0F2C2D', '#CAE8D9', 'left', 18, 14, 50)(data-projects-slider-prev="")
              .projects-controls-container
                +arrow('#0F2C2D', '#CAE8D9', 'right', 18, 14, 50)(data-projects-slider-next="")

        .designers-contacts.distributor-contacts
          .designers-contacts__top(data-aos="fade-up")
            h2.designers-contacts__title.title-h2 Начать работу с нами
            .designers-contacts__subtitle Звоните или пишите нам. Мы расскажем и о других 
              br
              |преимуществах работы с Green Land.
          .designers-contacts__row
            .designers-contacts__card(data-aos="fade-up")
              .designers-contacts__img
                img(src="assets/images/designer-contacts-1.png", alt="")
              .designers-contacts__desc
                h4.designers-contacts__name Гвоздякова Алена
                .designers-contacts__position Менеджер по работе с дизайнерами
                .designers-contacts__contacts
                  span.designers-contacts__tel 8 911 924-50-84
                  span sv@green-land.ru

                .contacts-btn
                  |обратная связь
                
           

            .designers-contacts__links(data-aos="fade-up")
              .designers-contacts__links-txt
                |Написать в соц. сетях
              .footer__socials
                a.footer__socials-link(href="")
                  +fbIcon
                a.footer__socials-link(href="")
                  +vkIcon
                a.footer__socials-link(href="")
                  +instIcon
                a.footer__socials-link(href="")
                  +houzzIcon

        .objects-form.distributor-form
          .mission__slider-underlay
          h2.title-h2(data-aos="fade-up")
            |Вы комплексный поставщик
            br
            |— задайте вопрос

          form.designers-form__form(data-aos="fade-up")
            label.designers-form__label
              input.designers-form__input(placeholder="Имя")
            label.designers-form__label
              input.designers-form__input(placeholder="E-mail")

            label.designers-form__label
              textarea.designers-form__input(name="" cols="30" rows="1" placeholder="Вопрос")

            label.designers-form__checkbox
              input(type="checkbox"  id="checkbox")
              .checkbox
              .designers-form__checkbox-txt Я соглашаюсь на обработку
                br
                a(href="") персональных данных
            button.btn.cover__btn(type="submit") отправить

    include ../partials/_footer.pug