extends ../layouts/master.pug

block content

  include ../partials/_aside.pug

  .main__wrap(data-scroll-container="")

    include ../partials/_header.pug

    .section.page-wrapper
      .container
        +breadcrumbs(['РЕДАКТИРОВАТЬ ПРОФИЛЬ'])

        h1.title-h1.about-title(data-aos="fade-up") Видео-курс по работе с розничными покупателями

        .lk-mobile-menu(data-aos="fade-up")
          .lk-mobile-menu__ttl Мой кабинет
          .lk-mobile-menu__cross

        .lk-cols
          .lk-sidebar
            .lk-sidebar__block(data-aos="fade-up")
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block(data-aos="fade-up")
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы
              a.lk-sidebar__item(href="") Выполненные заказы

            .lk-sidebar__block(data-aos="fade-up")
              .lk-sidebar__ttl История заказов
              a.lk-sidebar__item(href="") Активные заказы

            button.lk-sidebar__exit.lk-sidebar__item(data-aos="fade-up") Выйти

          .lk-main
            .lk-videos

              -
                const video = [
                  {
                    ind: '0',
                    ttl: 'Урок 1',
                    desc: 'Работа с глиной',
                    id: 'A_MjCqQoLLA',
                  },
                  {
                    ind: '1',
                    ttl: 'Урок 2',
                    desc: 'Как помочь заказчику, который не знает, что выбрать',
                    id: 'rblYSKz_VnI',
                  },
                  {
                    ind: '2',
                    ttl: 'Урок 3',
                    desc: 'Работа с малыми архитектурными формами',
                    id: '2Q_ZzBGPdqE',
                  },
                  {
                    ind: '3',
                    ttl: 'Урок 4',
                    desc: 'Работа с кермикой',
                    id: '45cYwDMibGo',
                  },
                ]

              each item in video

                .lk-videos__item(data-aos="fade-up")

                  .video-preview(data-video)
                  
                    .video-preview__frame(id=`player${item.ind}` data-video-id=`${item.id}`)

                    .video-preview__img
                      img(src="assets/images/lk-video-1.jpg", alt="")
                      //- img(src=`https://img.youtube.com/vi/${item.id}/maxresdefault.jpg`, alt="")

                  .lk-videos__count #{item.ttl}
                  .lk-videos__ttl #{item.desc}

    include ../partials/_footer.pug

block scripts
  script(src="https://www.youtube.com/iframe_api")